html, body { 
	background: #e1e0c4; 
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	padding-top: 10px;
}
#container {
	width: 950px;
	margin: 0 auto;
	text-align: left;
}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
input[type="text"], input[type="password"] { padding: 3px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: none; }

/*Navigation*/

#navigation { 
	clear: both; 
	position: relative; 
	margin:  20px 0; 
	height: 50px; 
	width: 100%; 
	background: url("/images/red-gradient.jpg") repeat-x;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #4e1717;
	padding-top: 0px;
}

#navigation li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: 20px;
}
#navigation li:hover ul {
	display: block;
}
#navigation li ul {
	position: absolute;
	top: 33px;
	width: 200px;
	background: #c61a1a;
	text-indent: 0;
	margin: 0;
	padding:0;
	display: none;
}

#navigation li ul li {
	padding: 10px;
}

#navigation a { 
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px;
}
#navigation a:hover {
	text-decoration: underline;
}
#nav-bar-image {
	position: absolute; 
	right: 50px;
	top: -153px;
}

/* Content */
#content-container { 
	width: 100%;
	margin: 20px 0;
}
#content-sidebar {
	float: right; 
	width: 250px;
}
.sidebar-module {
	margin-bottom: 20px;
}
#full-content {
	background: #fff;
	border: 1px solid #aaa; 
	width: 910px;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content {
	background: #fff;
	border: 1px solid #aaa; 
	width: 640px;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content h2, #full-content h2, #login-box h2 {
	color: #c61a1a;
	margin: 0;
	padding: 0;
	font-size: 32px;
}
#content p. #full-content p, #login-box p {
	color: #333;
	font-size: 14px;
}
#content span. #full-content span, #login-box span {
	color: #333;
	font-size: 14px;
}

#content a, #full-content a, #login-box a {
	color: #c61a1a;
	font-size: 14px;
}

#content li, #full-content li {
	color: #333;
	font-size: 14px;
}
#content p, #full-content b {
	color: #333;
}
.required { color: #c61a1a !important; }
#content img.left { margin-right: 10px; margin-top: 10px; }
#content img.right { margin-left: 10px; margin-bottom: 10px; }

/* Footer */
#footer { 
	clear: both; 
	position: relative; 
	margin: 20px 0; 
	height: 35px; 
	width: 100%; 
	background: url("/images/red-gradient.jpg") repeat-x;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #4e1717;
	padding-top: 15px;
}
#footer span { 
	color: #fff;
	font-size: 14px;
	margin-left: 20px;
}
#footer a {
	margin: 0 10px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

/* Contact */
.contact-buttons {
	background: #c61a1a;
	color: #fff;
	padding: 10px 20px;
	border: none;
	margin-top: 20px;
}
.contact-buttons:hover {
	cursor: pointer;
	background: #e83c3c;
}
table#contact {
	color: #333;
	font-size: 14px;
}

/* Learner Section */
#login-box {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px 0;
}
table#login {
	width: 300px;
	margin: 10px auto;
}

/* Make Bookings */
#booking-table {
	text-align: center;
	color: #333;
}
#booking-table td {
	border: 1px solid #aaa;
	text-align: center;
}
td.offset {
	background: #ddd;
}
#booking-table td a {
	display: block;
	width: 100px;
	padding: 5px 0;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
}
#booking-table td:hover {
	background: #ddd;
}
.first-row {
	background: #333 !important;
	color: #ddd;
}
.first-row td {
	padding: 10px;
}
.first-row td:hover {
	background: #333 !important;
}
.booking {
	background: #ddd;
	width: 700px;
	height: 60px;
	padding-top: 1px;
	padding-left: 20px;
	margin: 10px;
}
.booking .right {
	margin-top: 20px;
	margin-right: 20px;
}
.booking h3 {
	color: #333;
}

/* Other */
#member-organisations {
	background: #e3e3e3;
	padding: 20px;
	margin-left: -30px;
}
#member-organisations img { 
	width: 85px; 
	height: 85px; 
}